.contact-us{
  position: relative;
  background-color: #55bbbb;
  width: 300px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 100px auto;
  border-radius: 60px;
}

.contact-us::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/b8a0314e-3d70-4833-b4de-9c5b809cee2b/download__icon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(-50%,-50%);
}

.contact-us::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  background: url(../img/b8a0314e-3d70-4833-b4de-9c5b809cee2b/download__icon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}