.text {
  max-width: 760px;
  width: 100%;
  margin: 60px auto;
}

.ttl{
  font-size: 24px;
  margin-bottom: 20px;
}

.float-img{
 margin: 0 0 20px 20px;
 width: 400px;
 float: right;
}

img{
  width: 100%;
}