body,
html{
  height: 100%;
}

.parallax-bg,.scrollbox{
  color: red;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.parallax-bg{
  background: url(/img/card.jpg/card.jpg) fixed cebter/cover no-repeat;
}

.scrollbox{
  background-color: #000;
}