body,
html {
  height: 100%;
}

.parallax-bg,
.scrollbox {
  color: white;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.parallax-bg {
  background: url(/img/elephant.png/elephant.png) fixed cebter/cover no-repeat;
}

.scrollbox {
  background-color: #000;
}